.wist-btn-on-card{
    position: absolute;
    right:20px;
    top:20px;
}

.grid .card-body{ 
    padding-bottom: 40px;
}
.card-ftr {
    position: absolute;
    bottom:0px;
    left:0px;
    width: 100%;
    padding: 12px 1.25rem;
}

a.card-text{
    color:$txtcolor;
    font-size: calc(0.7rem + 0.3vw);
    line-height: normal;
    display: inline-block;
    margin-bottom: 20px;
}

.img-with-shadow{
    img{ 
    box-shadow: -20px 30px 0px $txtcolor;
    border-radius:4px;
    }
}